color-value-component
{
    background-color: var(--grey);
    border-radius: 0.25rem;
    line-height: 48px;
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 0 1rem;
    overflow-x: auto;
    text-overflow: ellipsis;
    display: block;
    transform: scale(1);
    transform-origin: center;
    user-select: none;
    transition: all 50ms cubic-bezier(0.4, 0.0, 0.2, 1);

    &:active
    {
        transform: scale(0.97);
    }
}